<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <select name="" id="lang">
        <option value="g1">english</option>
        <option value="g1">hindi</option>
        <option value="g1">english</option>
        <option value="g1">english</option>
        <option value="g1">english</option>
    </select>

    <div id="box">
        <div id="logo">
            <img src="/images/images.png" alt="">
        </div>

        <a href="/login"><div id="ficebook">facebook</div></a>
        
        <p id="or">----------------------or--------------------</p>

        <form action="/ragistar" method="post">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="phone" placeholder="phone Number">
            <input type="text" name="fullname" placeholder="Fullname">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password"  placeholder="password">
            <button type="submit">Sign up</button>
        </form>
        
        <p id="condition">By signing up. you agree to out terms data policy and cookies polocy </p>
    </div>

</body>

</html>