<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/lickpage.css">
</head>

<body>
    <div id="top_div">
        <a href="/profile">
            <img src="/dp_img/arow.jpg" alt="">
        </a>
        <h1>Notifications</h1>
    </div>
    <div id="name">
        <div id="name_box"></div>
        <div id="name_box"></div>
        <div id="name_box"></div>
        <div id="name_box"></div>
        <div id="name_box"></div>
        <div id="name_box"></div>
    </div>

    <div id="all_ditel">
        <div id="ditel">
            <p></p>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>

        </div>

        <div id="ditel">
            <p></p>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>
            <div id="img_data">
                <div id="img_div"><img src="" alt=""></div>
                <div id="data_div"></div>
            </div>

        </div>
    </div>

    <div id="bottam_div">
        <a href="/profile">
            <img src="\images\image.png" alt="">
        </a>
        <a href="/search">
            <img src="\images\image copy.png" alt="">
        </a>
        <a href="/post">
            <img src="\images\phost.jpg" alt="">
        </a>
        <a href="/dp_profile">
            <img id="profile_logo" src="uploads/<%= user.dp_img %>" alt="">
        </a>
    </div>

    <script src="/javascripts/lickpage.js"></script>
</body>

</html>