<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <select name="" id="lang">
        <option value="g1">english</option>
        <option value="g1">hindi</option>
        <option value="g1">english</option>
        <option value="g1">english</option>
        <option value="g1">english</option>
    </select>

    <div id="box">
        <div id="logo">
            <img src="/images/images.png" alt="">
        </div>
        <form action="/login" method="post">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="password" name="password" id="password" placeholder="password">
            <button type="submit">Log in</button>
        </form>
        <p id="condition">Forgot Your Login details? Get Help Logging in.</p>
        <p id="or">----------------------OR--------------------</p>
        <a href="/"><p id="facebook">Login whith facebook</p></a>
    </div>

</body>

</html>