<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/post.css">
</head>

<body>

    <div id="top_div">
        <div id="top_1">
            <a href="/profile">
                <img src="/dp_img/cos.jpg" alt="">
            </a>
            <h1>New post</h1>
        </div>
        <div id="top_2">
            <h3 id="next">Next</h3>
        </div>
    </div>

        <div id="demo_img">

            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
    
            <div id="d_i">
                <div id="i"></div>
            </div>
        </div>

    <div id="demo_dottam">
        <div id="d_b_l">
            <h2>Recents</h2>
            <img src="/dp_img/poto8.jpg" alt="">
        </div>
            <div id="d_b_r">
                <a href="/upload">
                    <img src="/dp_img/photo_1.jpg" alt="">
                    <h2>SELECT MULTIPLE</h2>
                </a>
            </div>

            <div id="camere">
                <img src="/dp_img/camera.jpg" alt="">
            </div>
    </div>

    <div id="bottam_img">
        <div id="b_i"></div>
        <div id="b_i"></div>
        <div id="b_i"></div>
        <div id="b_i"></div>
        <div id="b_i"></div>
        <div id="b_i"></div>
    </div>

    <div id="scroll">
        <div id="option">
           <p>POST</p>
           <p>STORY</p>
           <p>REEL</p>
           <p>LI</p>
           <p>FILTAR</p>
        </div>
    </div>


    <script src="/javascripts/post.js"></script>
</body>

</html>