<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <div id="top_div">
        <input id="top_input" type="text" placeholder="search">
    </div>

    <div id="all_img">
        <div id="u_img">
            <p>Ashutosh pardeshi</p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>

        <div id="u_img">
            <p></p>
        </div>
    </div>
    
    <div id="bottam_div">
        <a href="/profile">
            <img src="\images\image.png" alt="">
        </a>
        <a href="/search">
            <img src="\images\image copy.png" alt="">
        </a>
        <a href="/post">
            <img src="\images\phost.jpg" alt="">
        </a>
        <a href="/dp_profile">
            <img id="profile_logo" src="uploads/<%= user.dp_img %>" alt="">
        </a>
    </div>

    <script>
    </script>
</body>

</html>